streamlit
pandas
numpy
scikit-learn
openpyxl
seaborn
matplotlib
sweetviz
pandas-profiling
plotly
altair
missingno
category_encoders
scipy
xgboost
lightgbm
catboost
shap
lime
mlflow
joblib
pyyaml
fastapi
uvicorn
flask
sqlalchemy
pyarrow
gcsfs
transformers
torch
sentence-transformers
nltk
requests
httpx
streamlit-aggrid
streamlit-extras
boto3
fastapi
uvicorn
boto3
python-multipart
